@charset "UTF-8";

canvas {
  background-color: #FFE3D0;
}

body {
  margin: 0;
  padding: 0;
  border: 0;
  overflow: hidden;
}

.food {
 width: 121px;
 height: 76px;
 position: fixed;
 outline: none;
 box-shadow: none;
 background-image: url("images/foodf.png");
 background-color: rgba(255, 0, 0, 0);
 border: 0px;
 padding: 0px;
 margin: 0px;
}

.apple {
  background-image: url("images/apple.png");
  width: 96px;
  height: 99px;
  background-color: rgba(255, 0, 0, 0);
  border: 0px;
  padding: 0px;
  margin: 0px;
  position: fixed;
  outline: none;
  box-shadow: none;
}

.hunger {
  background-image: url("images/hunger.png");
  width: 131px;
  height: 130px;
  background-color: rgba(255, 0, 0, 0);
  border: 0px;
  padding: 0px;
  margin: 0px;
  position: fixed;
  box-shadow: none;
}

.huncon {
  top: 20px;
  width: 9.2px;
  height: 119.4px;
  position: fixed;
  border: 1px solid;
  border-color: #9D5E34;
  background-color: rgba(255, 0, 0, 0);
  transform: rotate(180deg);
}

.hunbar {
  background-color: #9D5E34;
  width: 9.2px;

}
